[submodule "00-typescript"]
	path = 00-typescript
	url = https://github.com/smaurier/typescript-autotraining.git
[submodule "01-js-runtime"]
	path = 01-js-runtime
	url = https://github.com/smaurier/js-runtime-autotraining.git
[submodule "02-vue"]
	path = 02-vue
	url = https://github.com/smaurier/vue-autotraining.git
[submodule "04-testing"]
	path = 06-testing
	url = https://github.com/smaurier/testing-course.git
[submodule "05-nestjs"]
	path = 09-nestjs
	url = https://github.com/smaurier/Nest-autotraining.git
[submodule "06-postgresql"]
	path = 10-postgresql
	url = https://github.com/smaurier/Databases-autotraining.git
[submodule "07-http-caching"]
	path = 11-http-caching
	url = https://github.com/smaurier/HTTP-Caching-autotraining.git
[submodule "04-react"]
	path = 04-react
	url = https://github.com/smaurier/react-autotraining.git
[submodule "03-angular"]
	path = 03-angular
	url = https://github.com/smaurier/angular-autotraining.git
[submodule "10-architecture"]
	path = 13-architecture
	url = https://github.com/smaurier/archi-training.git
[submodule "11-distributed-systems"]
	path = 17-distributed-systems
	url = https://github.com/smaurier/distributed-system-autotraining.git
[submodule "12-observability-sre"]
	path = 16-observability-sre
	url = https://github.com/smaurier/observability-sre-autotraining.git
[submodule "13-react-native"]
	path = 19-react-native
	url = https://github.com/smaurier/react-native-autotraining.git
[submodule "14-webgpu-3d"]
	path = 20-webgpu-3d
	url = https://github.com/smaurier/webGPU-3D-course.git
[submodule "15-ia"]
	path = 18-ia
	url = https://github.com/smaurier/IA-autotraining.git
[submodule "00-algorithms"]
	path = 05-algorithms
	url = https://github.com/smaurier/algo-training.git
[submodule "10-aws-cloud"]
	path = 12-aws-cloud
	url = https://github.com/smaurier/aws-autotraining.git
[submodule "07-git-avance"]
	path = 07-git-avance
	url = https://github.com/smaurier/git-advance.git
[submodule "08-soft-skills"]
	path = 08-soft-skills
	url = https://github.com/smaurier/soft-skills.git
[submodule "14-securite-applicative"]
	path = 14-securite-applicative
	url = https://github.com/smaurier/secu-applicative.git
[submodule "15-cicd-devops"]
	path = 15-cicd-devops
	url = https://github.com/smaurier/ci-cd-dev.git
